<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
	<div class="row">
    <div class= "mx-auto col-md-4 col-md-offset-4">
		
			
			<div class="form-group" id="address_div">
	        	<div style="margin-left: 15px;margin-top: 10px;">
	          <span> Address : </span>
	          <select id="enter_address" value=""></select>
	        </div>

	        <div class="input form-group">
	            <label for="Value">Value</label>
	            <input type="text" id="message-value" name="message-value">
	            {{!-- <label for="enter_address">enter_address</label>
	            <input type="text" id="enter_address" name="enter_address"> --}}
	        </div>

	      
	    
	<button class="btn btn-primary" type="submit " id="payment"> Settle Payment</button>
	<button class="btn btn-primary"type="submit" id="balance">Get Balance</button>
	<button class="btn btn-info" type="submit" id="print"><a href="airtick">Print</button>

</div>
</div>

</body>
<script src ="/javascripts/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/dist/bootstrap1.min.js"></script>
<script src="/javascripts/dist/web3.min.js"></script>
<script src="/javascripts/dist/truffle-contract.js"></script>

<script src="/javascripts/app.js"></script>
</html>